<div class="container-fluid">
  <form [formGroup]="department_form">
    <div class="row">
      <div class="col-lg-3">

        <div class="form-group">
          <label>Department Code </label>
          <input class="form-control" formControlName="department_code">
        </div>

      </div>

      <!-- / .col-lg-2 -->
      <div class="col-lg-3">

        <div class="form-group">
          <label>Department Name </label>
          <input class="form-control" formControlName="department_name">
        </div>

      </div>
      <!-- / .col-lg-3 -->
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-lg-2">

        <div class="form-group">
          <label for="alias">Alias </label>
          <input type="password" class="form-control" id="alias" name="Alias" formControlName="department_alias">
        </div>

      </div>
      <!-- / .col-lg-2 -->
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <!-- <label>
            <input type="file" (change) = "onFileChange($event)" formControlName="department_file" />
          </label> -->
          <!-- <button type="button" [disabled]="!onFileChange" (click) = "upload()">Upload</button> -->
        </div>
      </div>
    </div>
    <div class="button-group">
      <button type="button" class="btn btn-primary" (click)="saveDepartment()">{{ !isUpdate ? 'Save': 'Update' }}</button>
    </div>
  </form>
</div>