<div class="container-fluid" >
    <form [formGroup]="job_title_form">
        <div class="row">
            <div class="col-lg-3">
                
                    <div class="form-group">
                        <label>Job Title Code </label>
                        <input class="form-control" formControlName="job_title_code">
                    </div>
                
            </div>
            <!-- / .col-lg-3 -->
            <div class="col-lg-3">
                
                    <div class="form-group">
                        <label>Job Title Name </label>
                        <input class="form-control" formControlName="job_title_name">
                    </div>
                
            </div>
            <!-- / .col-lg-3 --> 
        </div>
        <!-- / .row --> 
        <div class="row">
            <div class="col-lg-3">
                
                    <div class="form-group">
                        <label for="alias">Alias </label>
                        <input formControlName="job_title_alias" type="password" class="form-control" id="alias" name="Alias">
                    </div>
                
            </div>
            <!-- / .col-lg-3 -->
        </div>
        <!-- / .row --> 
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>File input</label>
                    <input type="file">
                </div>
            </div>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary" (click)="saveTitle()">{{ !isUpdate ? 'save': 'update'}}</button>
        </div>
    </form>
</div>