<ul class="nav nav-tabs">
    <li class="active"><a href="#user-info" data-toggle="tab">User Info</a>
    </li>
    <li><a href="#employment" data-toggle="tab">Employment</a>
    </li>
    <li><a href="#access" data-toggle="tab">Access</a>
    </li>
    <li><a href="#attendance" data-toggle="tab">Attendance</a>
    </li>
    <li><a href="#application" data-toggle="tab">Application</a>
    </li>
    <li><a href="#justification" data-toggle="tab">Justification</a>
    </li>
</ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" id="user-info">
      <app-user-info ></app-user-info>
    </div>
    <div class="tab-pane fade" id="employment">
        <app-user-employment ></app-user-employment>
    </div>
    <div class="tab-pane fade" id="access">
      <app-user-access></app-user-access>
    </div>
    <div class="tab-pane fade" id="attendance">
      <app-user-attendance></app-user-attendance>
    </div>
    <div class="tab-pane fade" id="application">
      <app-user-application></app-user-application>
    </div>
    <div class="tab-pane fade" id="justification">
      <app-user-justification></app-user-justification>
    </div>
  </div>